<launch>

  <!-- Localization 
  <include file="$(find robotino_navigation)/launch/robotino_amcl.launch"/> -->

  <!-- Gmapping node -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
    <rosparam command="load" file="$(find robotino_navigation)/param/gmapping_params.yaml" />
  </node>

  <!-- Navigation -->
  <include file="$(find robotino_navigation)/launch/robotino_move_base.launch"/>
  
</launch>
