<launch>

  <!-- Robotino hardware -->
  <include file="$(find robotino_bringup)/launch/robotino_hardware.launch"/>

  <!-- Robotino navigation -->
  <include file="$(find robotino_bringup)/launch/robotino_navigation.launch"/>

  <!-- Robotino visualization -->
  <include file="$(find robotino_bringup)/launch/robotino_visualization.launch"/>

  <!-- Robotino core  
  <include file="$(find robotino_core)/launch/robotino_core.launch"/> -->

</launch>
