<launch>

  <!-- Robotino description -->
  <include file="$(find robotino_bringup)/launch/includes/description.launch.xml"/>

  <!-- Robotino bringup -->
  <include file="$(find robotino_node)/launch/robotino_simple_node.launch" />

  <!-- LiDAR Driver -->
  <node name="sick_node" pkg="sicks300" type="sick300_driver" >
    <param name="devicename" type="string" value="/dev/ttyS5" />
	  <remap from="laserscan" to="scan" />
  </node>

  <!-- Camera driver -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" > 
  	<rosparam file="$(find robotino_bringup)/param/camera_params.yaml" command="load" />
  </node>

  <!-- Joystick driver -->
  <include file="$(find teleop_twist_joy)/launch/teleop.launch" />  

  <!-- Status -->
  <include file="$(find robotino_status)/launch/robotino_status.launch" />  

</launch>
