<launch>

  <!-- Map server -->
  <arg name="map_file" default="$(find robotino_navigation)/maps/new_map.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- AMCL node -->
  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find robotino_navigation)/param/amcl_params.yaml" command="load" ns="amcl" />
  </node>

</launch>
